.cell {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 150px;
    line-height: 150px;
    text-align: center;
    

    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        border-top: none;
    } 
    &:nth-child(9), &:nth-child(8), &:nth-child(7) {
        border-bottom: none;
    } 
    &:nth-child(3n) {
        border-right: none;
    }

    &:nth-child(3n + 1) {
        border-left: none;
    }

    &--winner {
        background: lightgreen!important;
    }
}
